<%- include ('templates/header') %>

<body>
  <h1>Mis notas</h1>

  <div class="accordion accordion-flush" id="accordionFlushExample"></div>
  <% notas.forEach(function(nota){ %>
  
    <div class="accordion-item container">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOne"
        >
          <%= nota.title %>
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne"
      >
        <div class="accordion-body"><%= nota.body %></div>
      </div>
    </div>

  <% }) %>
  </div>
</body>

<%- include ('templates/footer') %>
